body {
    margin: 0;
    width: 100%;
}

.container-fluid {
    font-family: Lora;
    font-size: 22px;
}

.container-fluid #cabecalho #menu_superior_esquerda a {
    color: #212529;
    text-decoration: none;
}

.container-fluid #cabecalho #menu_superior_esquerda a:hover {
    color: #000000;
}

.container-fluid #cabecalho #menu_superior_direita a {
    color: #212529;
    text-decoration: none;
}

.container-fluid #cabecalho #menu_superior_direita a:hover {
    color: #000000;
}

.container-fluid #cabecalho {
    background-color: #B98753;
    width: 100%;
    z-index: 1000;
}

.container-fluid #menu_navegacao {
    background-color: #7E5233;
    width: 100%;
    z-index: 1000;
}

.container-fluid #conteudo {
    width: 80%;
    position: relative;
    margin-left: 10%;
    margin-right: auto;
    text-align: center;
    margin-top: 7.5%;
    z-index: 750;
    display: inline-table;
    font-size: 20px;
}

.container-fluid #cabecalho #menu_superior_esquerda {
    margin-left: 2.5%;
    width: 47.5%;
    display: inline-table;
}

.container-fluid #cabecalho #menu_superior_direita {
    width: 47.5%;
    margin-right: auto;
    display: inline-table;
    text-align: right;
}

.container-fluid #menu_navegacao a {
    color: #212529;
    font-size: 22px;
}

.container-fluid #menu_navegacao a:hover {
    color: #000000;
}

.container-fluid #conteudo #carousel img {
    width: 225px;
    height: 200px;
    opacity: 1;
    transition: .5s ease;
}

.container-fluid #conteudo #carousel #op_box:hover img {
    opacity: 0.6;
}

.container-fluid #conteudo #carousel .back_image {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container-fluid #conteudo #carousel #op_box:hover .back_image {
    opacity: 1;
}

.container-fluid #conteudo #carousel #op_box .back_image .conteudo_image {
    background-color: #F5EBD5;
    font-size: 16px;
    padding: 16px 32px;
}

.container-fluid #conteudo #carousel #op_box a {
    color: #212529;
    
}

.container-fluid #conteudo #carousel #op_box a:hover {
    color: #000000;
}

.container-fluid #rodape {
    width: 100%;
    margin-top: 2.5%;
    background-color: #7E5233;
    bottom: 0;
}

.container-fluid #rodape #conteudo_rodape {
    display: inline-table;
    width: 90%;
    margin-top: 1%;
    margin-left: 5%;
    margin-right: auto;
}

.container-fluid #rodape #conteudo_rodape ul {
    list-style: none;
    float: left;
    margin-left: 10%;
}

.container-fluid #rodape #conteudo_rodape #s_col {
    width: 33.3%;
    display: inline-table;
}

.container-fluid #rodape #conteudo_rodape a {
    font-size: 20px;
    color: #212529;
    text-decoration: none;
}

.container-fluid #rodape #conteudo_rodape a:hover {
    color: #000000;
}

.container-fluid #cabecalho #menu_superior_direita form {
    position: absolute;
}

.container-fluid #conteudo #tv {
    width: 45%;
    margin-left: 2.5%;
    display: inline-table;
    float: left;
}

.container-fluid #conteudo #puzzle {
    width: 45%;
    margin-right: 2.5%;
    display: inline-table;
    float: left;
}

.container-fluid #conteudo #estudo {
    width: 100%;
}

.container-fluid #lista_itens {
    width: 100%;
    float: left;
    display: inline-table;
}

.container-fluid #preco_total {
    width: 100%;
    float: left;
    display: inline-table;
    margin-bottom: 3%;
}

.container-fluid #endereco_entrega {
    display: block;
    margin-top: 3%;
    width: 100%;
}

.container-fluid #conteudo .controle {
    width: 100%;
    text-align: left;
}

.container-fluid #conteudo .fundo-cartao {
    background-color: #f5ebd5;
}

.container-fluid #conteudo .controle .fundo-cartao .config {
    display: inline-table;
    float: left;
    margin-right: 2%;
}

.container-fluid #conteudo .dados {
    width: 100%;
    margin-top: 2.5%;
    text-align: left;
}

.container-fluid #conteudo .entrar {
    width: 40%;
    text-align: left;
    padding-left: 5%;
    background-color: #F5EBD5;
    display: inline-table;
}

.container-fluid #conteudo #btn_entrar {
    margin-left: 16.25%;
    margin-top: 1.5%;
    margin-right: auto;
    padding-left: 25%;
    padding-right: 25%;
    background-color: #B98753;
}

.container-fluid #conteudo #btn_esqueci {
    margin-top: 5%;
    color: #000000;
}

.container-fluid #conteudo .cadastrar {
    width: 40%;
    display: inline-table;
    background-color: #F5EBD5;
}

.container-fluid #conteudo .cadastrar #btn_cadastrar {
    margin-left: 10.75%;
    margin-top: 1.5%;
    margin-right: auto;
    padding-left: 25%;
    padding-right: 25%;
    background-color: #B98753;
}

.container-fluid #conteudo.cad {
    width: 90%;
    margin-left: 5%;
    margin-top: 2.5%;
}

.container-fluid #conteudo.cad #form {
    background-color: #f5ebd5;
    width: 100%;
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2.5%;
    padding-bottom: 2%;
    font-size: 20px;
}

.container-fluid #conteudo.cad #form button {
    margin-top: 1.5%;
    background-color: #b98753;
}

.container-fluid #conteudo.prod #pri_col {
    width: 100%;
    display: inline-table;
    float: left;
    margin-bottom: 5%;
}

.container-fluid #conteudo.prod img {
    width: 200px;
    height: 200px;
}

.container-fluid #conteudo.liv img {
    width: 200px;
    height: 300px;
}

.container-fluid #conteudo.prod #seg_col {
    width: 100%;
    display: inline-table;
    float: left;
    margin-bottom: 5%;
}

.container-fluid #conteudo.prod #ter_col {
    width: 100%;
    display: inline-table;
    float: left;
    margin-bottom: 5%;
}

.container-fluid #conteudo.prod #qua_col {
    width: 100%;
    display: inline-table;
    float: left;
    margin-bottom: 5%;
}

.container-fluid #conteudo.prod #qui_col {
    width: 100%;
    display: inline-table;
    float: left;
    margin-bottom: 5%;
}

.container-fluid #conteudo.prod .card .card-text {
    font-size: 22px;
}

.container-fluid #conteudo.prod .card a {
    background-color: #F5EBD5;
}

.container-fluid #conteudo.prod .card a:hover {
    color: #000000;
}

@media only screen and (max-width: 576px) {

    .container-fluid #cabecalho #menu_superior_esquerda {
        margin-left: 2.5%;
        width: 50%;
        display: inline-table;
    }

    .container-fluid #cabecalho #menu_superior_direita form {
        margin-left: 17.5%;
    }
    
    .container-fluid #cabecalho #menu_superior_direita {
        width: 40%;
        display: inline-table;
        text-align: right;
    }

    .container-fluid #cabecalho img {
        width: 30px;
        height: 30px;
        margin-bottom: 0.75%;
    }

    .container-fluid #menu_navegacao #link_home, #link_conta {
        visibility: hidden;
        position: absolute;
    }

    .container-fluid #rodape {
        /*position: fixed;*/
        z-index: 800;
    }

    .container-fluid #rodape.home_rodape {
        position: fixed;
    }

    .container-fluid #conteudo #controle .card {
        text-align: left;
    }

    .container-fluid #conteudo.cont {
        width: 95%;
        margin-left: 2.5%;
    }

    .container-fluid #conteudo .entrar {
        width: 100%;
        text-align: left;
        padding: 2.5%;
        padding-left: 5%;
        background-color: #F5EBD5;
        display: inline-table;
        margin-bottom: 2%;
    }
    
    .container-fluid #conteudo .cadastrar {
        width: 100%;
        text-align: left;
        padding: 2.5%;
        padding-left: 5%;
        display: inline-table;
        background-color: #F5EBD5;
    }

    .container-fluid #conteudo.cad #form form {
        margin-right: 5%;
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
    
    .container-fluid #cabecalho img {
        width: 45px;
        height: 45px;
        margin-bottom: 0.75%;
    }

    .container-fluid #cabecalho #menu_superior_direita form {
        margin-left: 5%;
    }

    .container-fluid {
        font-size: 24px;
    }

    .container-fluid #menu_navegacao #link_conta {
        visibility: hidden;
        position: absolute;
    }

    .container-fluid #conteudo #carousel img {
        width: 350px;
        height: 300px;
    }

    .container-fluid #rodape #conteudo_rodape ul {
        margin-left: 20%;
    }

    .container-fluid #conteudo.cont {
        width: 95%;
        margin-left: 2.5%;
        margin-top: 2.5%;
        font-size: 22px;
    }

    .container-fluid #conteudo .entrar {
        width: 100%;
        text-align: left;
        padding: 2.5%;
        padding-left: 5%;
        background-color: #F5EBD5;
        display: inline-table;
        margin-bottom: 2%;
    }

    .container-fluid #conteudo .cadastrar #btn_cadastrar {
        margin-left: 14.5%;
        margin-right: auto;
    }
    
    .container-fluid #conteudo .cadastrar {
        width: 100%;
        text-align: left;
        padding: 2.5%;
        padding-left: 5%;
        display: inline-table;
        background-color: #F5EBD5;
    }

    .container-fluid #conteudo.prod {
        width: 87.5%;
        margin-left: 2.5%;
        margin-right: auto;
    }

    .container-fluid #conteudo.prod #pri_col {
        width: 47.5%;
        display: inline-table;
        float: left;
        margin-right: 2.5%;
    }
    
    .container-fluid #conteudo.prod #seg_col {
        width: 47.5%;
        display: inline-table;
        float: left;
        margin-left: 2.5%;
    }
    
    .container-fluid #conteudo.prod #ter_col {
        width: 47.5%;
        display: inline-table;
        float: left;
        margin-right: 2.5%;
    }
    
    .container-fluid #conteudo.prod #qua_col {
        width: 47.5%;
        display: inline-table;
        float: left;
        margin-left: 2.5%;
    }

    .container-fluid #conteudo.prod #qui_col {
        width: 47.5%;
        display: inline-table;
        float: left;
        margin-right: 2.5%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    
    .container-fluid #cabecalho img {
        width: 60px;
        height: 60px;
        margin-bottom: 0.75%;
    }

    .container-fluid {
        font-size: 26px;
    }

    .container-fluid #conteudo {
        margin-top: 2.5%;
    }

    .container-fluid #conteudo #carousel img {
        width: 500px;
        height: 450px; 
    }

    .container-fluid #rodape #conteudo_rodape ul {
        margin-left: 28%;
    }

    .container-fluid #cabecalho #menu_superior_direita form {
        margin-left: 2.5%;
    }

    .container-fluid #lista_itens {
        width: 62.5%;
        margin-right: 2.5%;
    }

    .container-fluid #preco_total {
        width: 32.5%;
        margin-left: 2.5%;
    }

    .container-fluid #conteudo.cont {
        width: 95%;
        margin-left: 2.5%;
        margin-top: 2.5%;
        font-size: 22px;
    }

    .container-fluid #conteudo .entrar {
        width: 40%;
        text-align: left;
        padding: 2.5%;
        background-color: #F5EBD5;
        display: inline-table;
        margin-right: 2.5%;
    }
    
    .container-fluid #conteudo .cadastrar {
        width: 40%;
        text-align: center;
        padding: 2.5%;
        display: inline-table;
        background-color: #F5EBD5;
        margin-left: 2.5%;
    }
    
    .container-fluid #conteudo .cadastrar #btn_cadastrar {
        margin-left: 0.25%;
        margin-right: auto;
    }

    .container-fluid #conteudo.prod #pri_col {
        width: 47.5%;
        display: inline-table;
        float: left;
        margin-right: 2.5%;
        margin-bottom: 2.5%;
    }
    
    .container-fluid #conteudo.prod #seg_col {
        width: 47.5%;
        display: inline-table;
        float: left;
        margin-left: 2.5%;
        margin-bottom: 2.5%;
    }
    
    .container-fluid #conteudo.prod #ter_col {
        width: 47.5%;
        display: inline-table;
        float: left;
        margin-right: 2.5%;
        margin-bottom: 2.5%;
    }
    
    .container-fluid #conteudo.prod #qua_col {
        width: 47.5%;
        display: inline-table;
        float: left;
        margin-left: 2.5%;
        margin-bottom: 2.5%;
    }

    .container-fluid #conteudo.prod #qui_col {
        width: 47.5%;
        display: inline-table;
        float: left;
        margin-right: 2.5%;
        margin-bottom: 2.5%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    
    .container-fluid #cabecalho img {
        width: 60px;
        height: 60px;
        margin-bottom: 0.75%;
    }

    .container-fluid {
        font-size: 28px;
    }

    .container-fluid #conteudo {
        margin-top: 2.5%;
    }

    .container-fluid #conteudo #carousel img {
        width: 500px;
        height: 450px;
    }

    .container-fluid #rodape #conteudo_rodape ul {
        margin-left: 30%;
    }

    .container-fluid #lista_itens {
        width: 62.5%;
        margin-right: 2.5%;
    }

    .container-fluid #preco_total {
        width: 32.5%;
        margin-left: 2.5%;
    }

    .container-fluid #conteudo.cont {
        width: 95%;
        margin-left: 2.5%;
        margin-top: 2.5%;
        font-size: 22px;
    }

    .container-fluid #conteudo .cadastrar #btn_cadastrar {
        margin-left: 0.25%;
        margin-right: auto;
    }

    .container-fluid #conteudo .entrar {
        width: 40%;
        text-align: left;
        padding: 2.5%;
        background-color: #F5EBD5;
        display: inline-table;
        margin-right: 2.5%;
    }
    
    .container-fluid #conteudo .cadastrar {
        width: 40%;
        text-align: center;
        padding: 2.5%;
        display: inline-table;
        background-color: #F5EBD5;
        margin-left: 2.5%;
    }

    .container-fluid #conteudo.prod #pri_col {
        width: 47.5%;
        display: inline-table;
        float: left;
        margin-right: 2.5%;
        margin-bottom: 2%;
    }
    
    .container-fluid #conteudo.prod #seg_col {
        width: 47.5%;
        display: inline-table;
        float: left;
        margin-left: 2.5%;
        margin-bottom: 2%;
    }
    
    .container-fluid #conteudo.prod #ter_col {
        width: 47.5%;
        display: inline-table;
        float: left;
        margin-right: 2.5%;
        margin-bottom: 2%;
    }
    
    .container-fluid #conteudo.prod #qua_col {
        width: 47.5%;
        display: inline-table;
        float: left;
        margin-left: 2.5%;
        margin-bottom: 2%;
    }

    .container-fluid #conteudo.prod #qui_col {
        width: 47.5%;
        display: inline-table;
        float: left;
        margin-right: 2.5%;
        margin-bottom: 2.5%;
    }
}

@media only screen and (min-width: 1200px) {
    
    .container-fluid #cabecalho img {
        width: 60px;
        height: 60px;
        margin-bottom: 0.75%;
    }

    .container-fluid {
        font-size: 30px;
    }

    .container-fluid #conteudo {
        margin-top: 2.5%;
    }

    .container-fluid #conteudo #carousel img {
        width: 500px;
        height: 450px;
    }

    .container-fluid #rodape #conteudo_rodape ul {
        margin-left: 32%;
    }

    .container-fluid #lista_itens {
        width: 62.5%;
        margin-right: 2.5%;
    }

    .container-fluid #preco_total {
        width: 32.5%;
        margin-left: 2.5%;
    }

    .container-fluid #conteudo.cont {
        width: 95%;
        margin-left: 2.5%;
        margin-top: 2.5%;
        font-size: 22px;
    }

    .container-fluid #conteudo .cadastrar #btn_cadastrar {
        margin-left: 0.25%;
        margin-right: auto;
    }

    .container-fluid #conteudo .entrar {
        width: 40%;
        text-align: left;
        padding: 2.5%;
        background-color: #F5EBD5;
        display: inline-table;
        margin-right: 2.5%;
    }
    
    .container-fluid #conteudo .cadastrar {
        width: 40%;
        text-align: center;
        padding: 2.5%;
        display: inline-table;
        background-color: #F5EBD5;
        margin-left: 2.5%;
    }

    .container-fluid #conteudo.prod #pri_col {
        width: 30%;
        display: inline-table;
        float: left;
        margin-right: 2.5%;
        margin-bottom: 2%;
    }
    
    .container-fluid #conteudo.prod #seg_col {
        width: 30%;
        display: inline-table;
        float: left;
        margin-left: 2.5%;
        margin-right: 2.5%;
        margin-bottom: 2%;
    }
    
    .container-fluid #conteudo.prod #ter_col {
        width: 30%;
        display: inline-table;
        float: left;
        margin-left: 2.5%;
        margin-bottom: 2%;
    }
    
    .container-fluid #conteudo.prod #qua_col {
        width: 30%;
        display: inline-table;
        float: left;
        margin-right: 2.5%;
        margin-bottom: 2%;
    }

    .container-fluid #conteudo.prod #qui_col {
        width: 30%;
        display: inline-table;
        float: left;
        margin-right: 2.5%;
        margin-left: 2.5%;
        margin-bottom: 2%;
    }
}