.container-fluid #conteudo {
    width: 80%;
    position: relative;
    margin-left: 10%;
    margin-right: auto;
    margin-top: 5%;
    z-index: 750;
    font-size: 20px;
    display: inline-table;
}

.container-fluid #conteudo #pri_col {
    display: inline-table;
    float: left;
    width: 100%;
    margin-bottom: 2%;
}

.container-fluid #conteudo #seg_col {
    display: inline-table;
    float: left;
    width: 100%;
    margin-bottom: 2.5%;
}

.container-fluid #conteudo img.livro {
    height: 300px;
    width: 200px;
    margin-bottom: 2.5%;
}

.container-fluid #conteudo img {
    height: 200px;
    width: 200px;
    margin-bottom: 2.5%;
}

.container-fluid #conteudo #ter_col {
    width: 100%;
}

@media only screen and (max-width: 576px) {

    .container-fluid #conteudo {
        text-align: center;
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {

    .container-fluid #conteudo {
        text-align: center;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {

    .container-fluid #conteudo {
        margin-top: 2.5%;
    }

    .container-fluid #conteudo #pri_col {
        width: 45%;
    }
    
    .container-fluid #conteudo #seg_col {
        width: 45%;
        margin-left: 2.5%;
    }

    .container-fluid #conteudo #seg_col .card {
        text-align: left;
    }

    .container-fluid #conteudo img.livro {
        float: left;
        display: inline-table;
        height: 300px;
        width: 200px;
        margin-bottom: 2.5%;
        margin-right: 2.5%;
    }

    .container-fluid #conteudo img {
        float: left;
        display: inline-table;
        height: 200px;
        width: 200px;
        margin-bottom: 2.5%;
        margin-right: 2.5%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {

    .container-fluid #conteudo {
        margin-top: 2.5%;
    }

    .container-fluid #conteudo #pri_col {
        width: 45%;
    }
    
    .container-fluid #conteudo #seg_col {
        width: 45%;
        margin-left: 2.5%;
    }

    .container-fluid #conteudo #seg_col .card {
        text-align: left;
    }

    .container-fluid #conteudo img.livro {
        float: left;
        display: inline-table;
        height: 300px;
        width: 200px;
        margin-bottom: 2.5%;
        margin-right: 2.5%;
    }

    .container-fluid #conteudo img {
        float: left;
        display: inline-table;
        height: 200px;
        width: 200px;
        margin-bottom: 2.5%;
        margin-right: 2.5%;
    }
}

@media only screen and (min-width: 1200px) {

    .container-fluid #conteudo #pri_col {
        width: 45%;
    }
    
    .container-fluid #conteudo #seg_col {
        width: 45%;
        margin-left: 2.5%;
    }

    .container-fluid #conteudo #seg_col .card {
        text-align: left;
    }

    .container-fluid #conteudo img.livro {
        float: left;
        display: inline-table;
        height: 400px;
        width: 300px;
        margin-bottom: 2.5%;
        margin-right: 2.5%;
    }

    .container-fluid #conteudo img {
        float: left;
        display: inline-table;
        height: 300px;
        width: 300px;
        margin-bottom: 2.5%;
        margin-right: 2.5%;
    }
}