body {
    margin: 0;
    width: 100%;
}

.container-fluid {
    font-family: Lora;
    font-size: 22px;
}

.container-fluid #cabecalho #menu_superior_esquerda a {
    color: #212529;
    text-decoration: none;
}

.container-fluid #cabecalho #menu_superior_esquerda a:hover {
    color: #000000;
}

.container-fluid #cabecalho #menu_superior_direita a {
    color: #212529;
    text-decoration: none;
}

.container-fluid #cabecalho #menu_superior_direita a:hover {
    color: #000000;
}

.container-fluid #cabecalho {
    background-color: #B98753;
    width: 100%;
    z-index: 1000;
}

.container-fluid #menu_navegacao {
    background-color: #7E5233;
    width: 100%;
    z-index: 1000;
}

.container-fluid #conteudo {
    width: 80%;
    position: relative;
    margin-left: 10%;
    margin-right: auto;
    margin-top: 7.5%;
    z-index: 750;
    display: inline-table;
}

.container-fluid #cabecalho #menu_superior_esquerda {
    margin-left: 2.5%;
    width: 47.5%;
    display: inline-table;
}

.container-fluid #cabecalho #menu_superior_direita {
    width: 47.5%;
    margin-right: auto;
    display: inline-table;
    text-align: right;
}

.container-fluid #menu_navegacao a {
    color: #212529;
    font-size: 22px;
}

.container-fluid #menu_navegacao a:hover {
    color: #000000;
}

.container-fluid #rodape {
    width: 100%;
    margin-top: 2.5%;
    background-color: #7E5233;
    bottom: 0;
}

.container-fluid #rodape #conteudo_rodape {
    display: inline-table;
    width: 90%;
    margin-top: 1%;
    margin-left: 5%;
    margin-right: auto;
}

.container-fluid #rodape #conteudo_rodape ul {
    list-style: none;
    float: left;
    margin-left: 10%;
}

.container-fluid #rodade #conteudo_rodape #p_col {
    width: 33.3%;
    display: inline-table;
}

.container-fluid #rodape #conteudo_rodape #s_col {
    width: 33.3%;
    display: inline-table;
}

.container-fluid #rodape #conteudo_rodape a {
    font-size: 20px;
    color: #212529;
    text-decoration: none;
}

.container-fluid #rodape #conteudo_rodape a:hover {
    color: #000000;
}

.container-fluid #cabecalho #menu_superior_direita form {
    position: absolute;
}

.container-fluid #conteudo #pri_col {
    width: 100%;
    display: inline-table;
    float: left;
    margin-bottom: 5%;
}

.container-fluid #conteudo img {
    width: 200px;
    height: 200px;
}

.container-fluid #conteudo #seg_col {
    width: 100%;
    display: inline-table;
    float: left;
    margin-bottom: 5%;
}

.container-fluid #conteudo #ter_col {
    width: 100%;
    display: inline-table;
    float: left;
    margin-bottom: 5%;
}

.container-fluid #conteudo #qua_col {
    width: 100%;
    display: inline-table;
    float: left;
    margin-bottom: 5%;
}

.container-fluid #conteudo #qui_col {
    width: 100%;
    display: inline-table;
    float: left;
    margin-bottom: 5%;
}

.container-fluid #conteudo .card .card-text {
    font-size: 22px;
}

.container-fluid #conteudo .card a {
    background-color: #F5EBD5;
}

.container-fluid #conteudo .card a:hover {
    color: #000000;
}

@media only screen and (max-width: 576px) {

    .container-fluid #cabecalho #menu_superior_esquerda {
        margin-left: 2.5%;
        width: 35%;
        display: inline-table;
    }

    .container-fluid #cabecalho #menu_superior_direita form {
        margin-left: 17.5%;
    }
    
    .container-fluid #cabecalho #menu_superior_direita {
        width: 60%;
        margin-right: auto;
        display: inline-table;
        text-align: right;
    }

    .container-fluid #cabecalho img {
        width: 30px;
        height: 30px;
        margin-bottom: 0.75%;
    }

    .container-fluid #menu_navegacao #link_home, #link_conta {
        visibility: hidden;
        position: absolute;
    }

    .container-fluid #rodape {
        z-index: 800;
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {

    .container-fluid #conteudo {
        width: 87.5%;
        margin-left: 2.5%;
        margin-right: auto;
    }

    .container-fluid #conteudo #pri_col {
        width: 47.5%;
        display: inline-table;
        float: left;
        margin-right: 2.5%;
    }
    
    .container-fluid #conteudo #seg_col {
        width: 47.5%;
        display: inline-table;
        float: left;
        margin-left: 2.5%;
    }
    
    .container-fluid #conteudo #ter_col {
        width: 47.5%;
        display: inline-table;
        float: left;
        margin-right: 2.5%;
    }
    
    .container-fluid #conteudo #qua_col {
        width: 47.5%;
        display: inline-table;
        float: left;
        margin-left: 2.5%;
    }

    .container-fluid #conteudo #qui_col {
        width: 47.5%;
        display: inline-table;
        float: left;
        margin-right: 2.5%;
    }
    
    .container-fluid #cabecalho img {
        width: 45px;
        height: 45px;
        margin-bottom: 0.75%;
    }

    .container-fluid #cabecalho #menu_superior_direita form {
        margin-left: 5%;
    }

    .container-fluid {
        font-size: 24px;
    }

    .container-fluid #menu_navegacao #link_conta {
        visibility: hidden;
        position: absolute;
    }

    .container-fluid #rodape #conteudo_rodape ul {
        margin-left: 20%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {

    .container-fluid #conteudo #pri_col {
        width: 47.5%;
        display: inline-table;
        float: left;
        margin-right: 2.5%;
        margin-bottom: 2.5%;
    }
    
    .container-fluid #conteudo #seg_col {
        width: 47.5%;
        display: inline-table;
        float: left;
        margin-left: 2.5%;
        margin-bottom: 2.5%;
    }
    
    .container-fluid #conteudo #ter_col {
        width: 47.5%;
        display: inline-table;
        float: left;
        margin-right: 2.5%;
        margin-bottom: 2.5%;
    }
    
    .container-fluid #conteudo #qua_col {
        width: 47.5%;
        display: inline-table;
        float: left;
        margin-left: 2.5%;
        margin-bottom: 2.5%;
    }

    .container-fluid #conteudo #qui_col {
        width: 47.5%;
        display: inline-table;
        float: left;
        margin-right: 2.5%;
        margin-bottom: 2.5%;
    }
    
    .container-fluid #cabecalho img {
        width: 60px;
        height: 60px;
        margin-bottom: 0.75%;
    }

    .container-fluid {
        font-size: 26px;
    }

    .container-fluid #conteudo {
        margin-top: 2.5%;
    }

    .container-fluid #rodape #conteudo_rodape ul {
        margin-left: 28%;
    }

    .container-fluid #cabecalho #menu_superior_direita form {
        margin-left: 2.5%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {

    .container-fluid #conteudo #pri_col {
        width: 47.5%;
        display: inline-table;
        float: left;
        margin-right: 2.5%;
        margin-bottom: 2%;
    }
    
    .container-fluid #conteudo #seg_col {
        width: 47.5%;
        display: inline-table;
        float: left;
        margin-left: 2.5%;
        margin-bottom: 2%;
    }
    
    .container-fluid #conteudo #ter_col {
        width: 47.5%;
        display: inline-table;
        float: left;
        margin-right: 2.5%;
        margin-bottom: 2%;
    }
    
    .container-fluid #conteudo #qua_col {
        width: 47.5%;
        display: inline-table;
        float: left;
        margin-left: 2.5%;
        margin-bottom: 2%;
    }

    .container-fluid #conteudo #qui_col {
        width: 47.5%;
        display: inline-table;
        float: left;
        margin-right: 2.5%;
        margin-bottom: 2.5%;
    }
    
    .container-fluid #cabecalho img {
        width: 60px;
        height: 60px;
        margin-bottom: 0.75%;
    }

    .container-fluid {
        font-size: 28px;
    }

    .container-fluid #conteudo {
        margin-top: 2.5%;
    }

    .container-fluid #rodape #conteudo_rodape ul {
        margin-left: 30%;
    }
}

@media only screen and (min-width: 1200px) {

    .container-fluid #conteudo #pri_col {
        width: 30%;
        display: inline-table;
        float: left;
        margin-right: 2.5%;
        margin-bottom: 2%;
    }
    
    .container-fluid #conteudo #seg_col {
        width: 30%;
        display: inline-table;
        float: left;
        margin-left: 2.5%;
        margin-right: 2.5%;
        margin-bottom: 2%;
    }
    
    .container-fluid #conteudo #ter_col {
        width: 30%;
        display: inline-table;
        float: left;
        margin-left: 2.5%;
        margin-bottom: 2%;
    }
    
    .container-fluid #conteudo #qua_col {
        width: 30%;
        display: inline-table;
        float: left;
        margin-right: 2.5%;
        margin-bottom: 2%;
    }

    .container-fluid #conteudo #qui_col {
        width: 30%;
        display: inline-table;
        float: left;
        margin-right: 2.5%;
        margin-left: 2.5%;
        margin-bottom: 2%;
    }
    
    .container-fluid #cabecalho img {
        width: 60px;
        height: 60px;
        margin-bottom: 0.75%;
    }

    .container-fluid {
        font-size: 30px;
    }

    .container-fluid #conteudo {
        margin-top: 2.5%;
    }

    .container-fluid #rodape #conteudo_rodape ul {
        margin-left: 32%;
    }
}